#title-hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right:5%;
  border-style: inset;
  border-width: 0.001em;
  }

#tabs {
	height: 5%;
	color: Black;
	font-style: normal;
	font-size: 1.1em;
	margin-left: 1em;
	margin-right: 1em;
	}

a {
	text-decoration: none;
}

#content {
	margin-top: 5%;
	font-size: 1.25em;
}

body {
	margin-left: 15%;
	margin-right: 10%;
}
